[server default]
user=admin
password=adminpassword
ssh_user=root

manager_workdir=/var/log/masterha/
remote_workdir=/var/log/masterha/

repl_user=admin
repl_password=adminpassword
ping_interval=1

[server1]
hostname=172.25.0.201
port=3306
master_binlog_dir=/var/lib/mysql
candidate_master=1
check_repl_delay=0

[server2]
hostname=172.25.0.202
port=3306
master_binlog_dir=/var/lib/mysql
candidate_master=1
check_repl_delay=0

[server3]
hostname=172.25.0.203
port=3306
master_binlog_dir=/var/lib/mysql
candidate_master=1
check_repl_delay=0